.calender {
    padding: 10px;
    font-size: 13px;
}

.days {
    display: flex;
    width: 300px;
    padding: 3px 0px;
}

.days.name {
    color: gray;
}

.next-month {
    color: gray;
}

.today {
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 5px;
}

.days > div {
    padding: 8px 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
