@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .h-60 {
        height: 60px;
    }
}

body{
    background: rgb(229, 231, 235);
}
.days {
    display: flex;
    width: 300px;
}

.days > div {
    padding: 5px;
    flex: 1;
}
